@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --green-hover: hsl(154, 70%, 55%);
  --blue: hsl(248, 32%, 49%);
  --blue-hover: hsl(248, 45%, 59%);
  --dark-blue: hsl(249, 10%, 26%); 
  --grayish-blue: hsl(246, 25%, 77%); 
  --white: white;
  --body-font: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--red);
  background-position: center;
  font-family: var(--body-font);
  min-height: 100vh;
  overflow-y: scroll;
  padding: 1.5rem;

}

body::-webkit-scrollbar {
  display: none;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.4rem;
  margin: auto;
  max-width: 1105px;
  width: 100%;
}

/*Info Section*/
.info-section {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.info-section h1 {
  font-size: 3rem;
  line-height: 3rem;
}

.info-section p {
  font-weight: 500;
}

/*Form Section*/
.form-section {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 100%;
}

.sales-btn {
  border-radius: 10px;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 1.3rem 1rem;
  transition: 0.4s ease-in-out;
  box-shadow: 0px 9px 5px -1px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 0px 9px 5px -1px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 9px 5px -1px rgba(0, 0, 0, 0.27);
}

.sales-btn:hover {
  background-color: var(--blue-hover);
}

.sales-btn span {
  font-weight: 400;
}

/*Form*/
.main-form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  background-color: var(--white);
  border-radius: 10px;
  padding: 2rem;
}

.main-form .input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

input {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--grayish-blue);
  padding: 1.2rem;
  opacity: 0.8;
}

input:focus-visible {
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--blue);
}

/*Labels*/
.firstname-label, 
.lastname-label,
.email-label,
.pass-label {
  text-align: right;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--red);
  font-style: italic;
}

.success-msg {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--green);
  font-style: italic;
}

/*Error Icon*/
.first-name-error, 
.last-name-error,
.user-email-error,
.user-pass-error {
  display: none;
  right: 3%;
  top: 25%;
  position: absolute;
  align-items: right;
  background-image: url(/images/icon-error.svg);
  background-repeat: no-repeat;
  height: 2.5rem;
  width: 2.5rem;
}

.submit-info {
  border-radius: 5px;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all ease-in-out 0.4s;
  text-transform: uppercase;
  padding: 1.2rem;
}

.submit-info:hover {
  background-color: var(--green-hover);
}

.submit-term {
  font-size: 0.68rem;
  font-weight: 600;
  color: var(--grayish-blue);
  text-align: center;
}

.submit-term a {
  text-decoration: none;
  color: var(--red);
  font-weight: 600;
}